# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_data_file = "output_data/cities.csv"
city_df = pd.read_csv(output_data_file)
city_df.head()

,Unnamed: 0,City,Lat,Lng,Country,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,itarema,-2.9248,-39.9167,BR,81.64,78.0,100.0,4.41,1649769675
1,1,port alfred,-33.5906,26.8910,ZA,68.18,82.0,100.0,5.99,1649769860
2,2,avarua,-21.2078,-159.7750,CK,78.85,89.0,75.0,4.61,1649769860
3,3,hatillo,18.4863,-66.8254,PR,83.79,74.0,6.0,7.00,1649769861
4,5,cidreira,-30.1811,-50.2056,BR,72.55,82.0,100.0,5.77,1649769861

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Bring in location data pairs, 
locations = city_df[["Lat", "Lng"]]

#humidity data, 
humidity = city_df['Humidity']

#define map 
fig = gmaps.figure()

#and layer, and add layer to map
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
#Narrow down the DataFrame to find your ideal weather condition. For example: 
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.

ideal_city_df = city_df[city_df['Cloudiness']<10]
ideal_city_df = ideal_city_df[ideal_city_df['Max Temp']>60]
ideal_city_df = ideal_city_df[ideal_city_df['Max Temp']<75]
ideal_city_df = ideal_city_df[ideal_city_df['Wind Speed']<20]
ideal_city_df = ideal_city_df[ideal_city_df['Humidity']<60]
ideal_city_df = ideal_city_df[ideal_city_df['Humidity']>30]
ideal_city_df = ideal_city_df.dropna()
ideal_city_df

,Unnamed: 0,City,Lat,Lng,Country,Max Temp,Humidity,Cloudiness,Wind Speed,Date
40,42,emerald,-23.5333,148.1667,AU,74.34,52.0,0.0,9.69,1649769731
47,49,rosetta,31.4044,30.4164,EG,62.55,55.0,0.0,18.41,1649769874
91,98,yairipok,24.6667,94.0667,IN,73.02,53.0,0.0,3.20,1649769889
99,106,lukavica,44.7628,18.1689,BA,63.90,37.0,9.0,4.03,1649769892
165,179,apricena,41.7839,15.4437,IT,66.29,47.0,9.0,7.49,1649769914
200,216,saint-francois,46.4154,3.9054,FR,69.67,38.0,0.0,12.66,1649769925
223,241,marsa matruh,31.3525,27.2453,EG,66.40,45.0,0.0,18.41,1649769933
358,391,maldonado,-34.6667,-54.9167,UY,65.59,56.0,0.0,9.31,1649769978
384,418,pombia,45.6530,8.6336,IT,67.32,33.0,0.0,6.91,1649769986
398,433,valparaiso,-33.0393,-71.6273,CL,61.03,58.0,0.0,6.91,1649769991
493,543,mulege,26.8833,-111.9833,MX,61.23,58.0,0.0,3.78,1649770022
502,553,makat,47.6469,53.3463,KZ,72.91,32.0,0.0,8.63,1649770025
549,604,spreitenbach,47.4202,8.3630,CH,73.20,46.0,0.0,5.01,1649770041
551,606,charleroi,50.4130,4.4465,BE,70.12,46.0,0.0,11.50,1649770041

### Hotel Map
* Create a dataframe named `hotel_df` that is the df created above only with the pertinent data.  See the prepared code below (`info_box_template`) to determine what data you will need for your final map.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels (aka "lodging") within 5000 meters.
* Utilize the Google Places API to find the first hotel search result.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
# Create dataframe and empty column
hotel_df = ideal_city_df[['City', 'Country']]
hotel_df = hotel_df.reindex(columns = ['Hotel Name','City', 'Country'])
hotel_df = hotel_df.reset_index(drop = True)

hotel_df

    Hotel Name            City Country
0          NaN         emerald      AU
1          NaN         rosetta      EG
2          NaN        yairipok      IN
3          NaN        lukavica      BA
4          NaN        apricena      IT
5          NaN  saint-francois      FR
6          NaN    marsa matruh      EG
7          NaN       maldonado      UY
8          NaN          pombia      IT
9          NaN      valparaiso      CL
10         NaN          mulege      MX
11         NaN           makat      KZ
12         NaN    spreitenbach      CH
13         NaN       charleroi      BE

In [ ]:

#Use Google Places API to find the first hotel for each city located within 5,000 meters of your coordinates.


#Plot the hotels on top of the humidity heatmap, with each pin containing the Hotel Name, City, and Country, as in the following image:

# Loop through dataframe and add nearby hotel result

In [ ]:
# NOTE: Do not change any of the code in this cell
# Analyze the code below for variables but these should be all columns in hotel_df

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map



# Display figure